<nav>
    <div id="logo">
        <a href="" [routerLink]="['']">
            <img src="../../assets/images/LOGO_JMB.png" alt="">
        </a>
    </div>

    <ul>
        <a href="" [routerLink]="['']">
            <li>Home</li>
        </a>
        <a href="" [routerLink]="['/Formularios']">
            <li>Formularios</li>
        </a>
        <a href="" [routerLink]="['/ConsultarOfertas']">
            <li>Ofertas</li>
        </a>
        <a href="" [routerLink]="['/ConsultarSolicitudes']">
            <li>Solicitudes</li>
        </a>
    </ul>
</nav>
