<nav>
    <div id="logo">
        <a href="" [routerLink]="['']">
            <img src="../../assets/images/LOGO_JMB.png" alt="">
        </a>
    </div>
    <div id="mobile-menu">
        <ul>
            <a href="" [routerLink]="['']">
                <li>Home</li>
            </a>
            <a *ngIf="userExist" href="" [routerLink]="['/Formularios']">
                <li>Formularios</li>
            </a>
            <a *ngIf="!userExist" href="" [routerLink]="['/login']">
                <li>Formularios</li>
            </a>
            <a href="" [routerLink]="['/ConsultarOfertas']">
                <li>Ofertas</li>
            </a>
            <a href="" [routerLink]="['/ConsultarSolicitudes']">
                <li>Solicitudes</li>
            </a>
        </ul>
        <div id="account">
            <div id="login" *ngIf="!userExist">
                <a [routerLink]="['/login']"><button type="button">Iniciar sesión</button></a>
            </div>
            <div id="logOut" *ngIf="userExist">
                <a [routerLink]="['']"><button (click)="logout()" type="button">Cerrar sesión</button></a>
            </div>
            <div id="perfil" *ngIf="userExist">
                <a [routerLink]="['/perfil']"><img src="../../assets/images/user-icon.jpeg" alt=""></a>
            </div>
        </div>
    </div>
    <div id="nav-toggle">
        <button id="toggle" type="button">Menu</button>
    </div>
</nav>
