
nav{
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #173513;
    animation: nav linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul > a{
    padding: 0px 15px;
    font-size: 14pt;
}

#logo{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

@keyframes nav {
    from{
        height: 100px;
    }
    to{
        height: 75px;
        background: rgba(23, 53, 19, 0.7);
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}

@keyframes nav2 {
    from{
        height: 75px;
    }
    to{
        height: 50px;
        background: rgba(23, 53, 19, 0.7);
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}


@media screen and (max-width: 692px) {
    ul > a{
        font-size: 9pt;
    }

    nav{
        height: 50px;
        align-items: center;
        animation: nav2 linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
    }

}