#footer-container{
    width: 100%;
    background-color: #ACB68A;
    color: #173513;
    margin: 0;
    padding: 30px 50px;
    box-sizing: border-box;
}

#footer-menu{
    width: 25%;
}

#footer-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-menu > ul > li{
    margin: 15px 0px;
}

#footer-row1{
    display: flex;
    justify-content: space-evenly;
}

#newsletter{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.input {
    --input-focus: #fefefe;
    --font-color: #173513;
    --font-color-sub: #173513;
    --bg-color: #ACB68A;
    --main-color: #173513;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }

  button {
    height: 54px;
    background: #173513;
    font-family: inherit;
    padding: 5px 10px;
    font-weight: 900;
    font-size: 18px;
    border: 2px solid #ACB68A;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 4px 4px #173513;
    color: #ACB68A;
  }
  
  
  button:active {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px;
  }

  #footer-gif{
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #173513;
  }

  #footer-gif img{
    height: 100%;
  }

  @media screen and (max-width: 972px) {
    #footer-gif{
        display: none;
    }

    #newsletter, #footer-menu{
        width: 50%;
    }

    .input{
        width: 150px;
    }

  }

  @media screen and (max-width: 692px) {
    
    #footer-row1{
        flex-direction: column;
        align-items: center;
    }

    #newsletter, #footer-menu{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .input{
        width: 150px;
    }

  }
  