<div id="footer-container">
    <div id="footer-row1">
        <div id="footer-menu">
            <h2>Find Your Way</h2>
            <ul>
                <li>Home</li>
                <li>Formularios</li>
                <li>Ofertas</li>
                <li>Solicitudes</li>
            </ul>
        </div>
        <div id="newsletter">
            <h2>Get our newsletter</h2>
            <p>Job news every Sunday</p>
            <input class="input" name="text" placeholder="Email" type="email">
        </div>
        <div id="footer-gif">
            <h2>Find Your Way</h2>
        </div>
    </div>
    <div id="footer-row2">
        
    </div>
</div>
