<div id="main-container">
    <div id="banner-2">
        <div id="banner-2-colum1" class="banner-column">
            <img class="banner-svg svg-1" src="../../../assets/images/APPLY.svg" alt="">
            <div class="banner-txt">
                <h2>Solicita un empleo con nosotros</h2>
                <p>Nuestra página web conecta tu talento con empresas confiables y oportunidades reales. Con un proceso rápido y seguro, te ayudamos a encontrar el trabajo que mejor se adapte a tus habilidades y aspiraciones.</p>
            </div>
        </div>
        <div id="banner-2-colum2" class="banner-column">
            <img class="banner-img" src="../../../assets/images/banner2-img1.jpg" alt="">
            <img class="banner-svg svg-2" src="../../../assets/images/JOB.svg" alt="">
        </div>
    </div>
    <div class="separacion">

    </div>
    <div id="banner-3">
        <div id="banner-3-colum1" class="banner-column">
            <img class="banner-svg svg-1" src="../../../assets/images/OFFER.svg" alt="">
            <div class="banner-txt">
                <h2>Ofrecer un trabajo con nosotros</h2>
                <p>Publicar vacantes en nuestra plataforma te permite llegar a candidatos calificados de forma rápida y eficiente. Ofrecemos herramientas para gestionar aplicaciones y encontrar el talento ideal para tu empresa.</p>
            </div>
        </div>
        <div id="banner-3-colum2" class="banner-column">
            <img class="banner-img" src="../../../assets/images/banner3-img1.jpg" alt="">
            <img class="banner-svg svg-2" src="../../../assets/images/JOB.svg" alt="">
        </div>
    </div>
    <div id="banner">
        <div id="banner-text">
            <h1>CONSULTA LAS MEJORES OFERTAS DE TRABAJO DEL MERCADO.</h1>
            <a href="" [routerLink]="['/ConsultarOfertas']"><button type="button">Consultar</button></a>
        </div>
        <img src="../../../assets/images/banner-1.jpg" alt="">
    </div>
</div>
