<div id="filters">
  <div class="filter">
    <select (change)="onSelect($event)">
      <option value="">Todos</option>
      <option *ngFor="let item of uniquePoblaciones" [value]="item">{{ item }}</option>
    </select>
  </div>
  <div class="filter" *ngIf="solicitud">
    <input
      type="text"
      placeholder="Buscar capacidades"
      (input)="onSearch($event)"
    />
  </div>
  <div class="filter" *ngIf="oferta">
    <input
      type="text"
      placeholder="Buscar requerimientos"
      (input)="onSearch($event)"
    />
  </div>
</div>
<ul>
    <li class="lista-O-S" *ngFor="let item of capacidadesExperiencia">
      <ng-container *ngIf="oferta">
        <h3>{{item.empleo}}</h3>
        <div class="card-info nombre-email">
          <div class="card-user-icon">
            <img src="../../../assets/images/user-icon.jpeg" alt="">
          </div>
          <div class="card-nombre-email">
            <span>{{item.empresa}}</span>
            <span>{{item.email2}}</span>
          </div>
        </div>
        <div class="card-info">
          <span class="card-label">Población</span>
          <span>{{item.poblacion2}}</span>
        </div>
        <div class="card-info">
          <span class="card-label">Requerimientos</span>
          <span>{{item.requerimientos}}</span>
        </div>
        <div class="card-info double-info">
          <div class="c-infos">
            <span class="card-label">Salario</span>
            <span>{{item.salario}}</span>
          </div>
          <div>
            <span class="card-label">Experiencia</span>
            <span>{{item.experiencia}}</span>
          </div>
        </div>
        <div class="card-date-button">
          <div class="date">
            <span class="card-label">Fecha</span>
            <span>{{item.fecha}}</span>
          </div>
          <button type="button">Contratar</button>
        </div>
        <button class="guardar-btn" type="button" (click)="saveItem(item.id, 'savedOffers')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 6.2c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C7.52 3 8.08 3 9.2 3h5.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C18 4.52 18 5.08 18 6.2v13.305c0 .486 0 .729-.101.862a.5.5 0 0 1-.37.198c-.167.01-.369-.125-.773-.394L12 17l-4.756 3.17c-.404.27-.606.405-.774.395a.5.5 0 0 1-.369-.198C6 20.234 6 19.991 6 19.505z"/></svg></button>
      </ng-container>
      <ng-container *ngIf="solicitud">
        <h3>{{item.trabajo}}</h3>
        <div class="card-info nombre-email">
          <div class="card-user-icon">
            <img src="../../../assets/images/user-icon.jpeg" alt="">
          </div>
          <div class="card-nombre-email">
            <span>{{item.nombre}}</span>
            <span>{{item.email}}</span>
          </div>
        </div>
        <div class="card-info">
          <span class="card-label">Población</span>
          <span>{{item.poblacion}}</span>
        </div>
        <div class="card-info">
          <span class="card-label">Capacidades</span>
          <span>{{item.capacidades}}</span>
        </div>
        <div class="card-info double-info">
          <div class="c-infos">
            <span class="card-label">Teléfono</span>
            <span>{{item.telefono}}</span>
          </div>
          <div>
            <span class="card-label">Experiencia</span>
            <span>{{item.experiencia}}</span>
          </div>
        </div>
        <div class="card-date-button">
          <div class="date">
            <span class="card-label">Fecha</span>
            <span>{{item.fecha}}</span>
          </div>
          <button type="button">Contratar</button>
        </div>
        <button class="guardar-btn" type="button" (click)="saveItem(item.id, 'savedRequests')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 6.2c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C7.52 3 8.08 3 9.2 3h5.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C18 4.52 18 5.08 18 6.2v13.305c0 .486 0 .729-.101.862a.5.5 0 0 1-.37.198c-.167.01-.369-.125-.773-.394L12 17l-4.756 3.17c-.404.27-.606.405-.774.395a.5.5 0 0 1-.369-.198C6 20.234 6 19.991 6 19.505z"/></svg></button>
      </ng-container>
    </li>
</ul>