@font-face {
    font-family: 'Supreme-Extrabold';
    src: url('assets/fonts/Supreme-Extrabold.woff2') format('woff2'),
         url('assets/fonts/Supreme-Extrabold.woff') format('woff'),
         url('assets/fonts/Supreme-Extrabold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
  }

body{
    margin: 0;
    background-color: #BEBB7B;
    font-family: 'Supreme-Extrabold', sans-serif;
    font-display: swap; 
}
